<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyPass</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,500" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="#" class="title"> <h1 class="title"> MyPass </h1> </a>
        <a href="https://github.com/riccardoferrari/mypass"> Source Code </a>
        <a class="about" href="/about"> About </a>
    </header>
    <p class="password-header"> This is your password:</p>
    <p class="password">  {{ mypass }}  </p>
</body>
</html>